<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>Present by vmuui.com 管理中心 - 用户须知</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__CSS__/main.css" type=text/css rel=stylesheet>
    <script  src="/Public/jquery.js"></script> 
    <style>
    .usertit{ padding-top:30px; padding-bottom:25px; font-size:16px; color:#74829d; letter-spacing:1px}
	.usertxt{ margin-left:30px; margin-right:30px; border-top:#999 dashed 1px; padding-top:10px;  color:#74829d;padding-bottom:20px;text-align:left;}
	.usertxt p{ line-height:25px; font-size:12px}
	.usertxt b{line-height:20px; font-size:12px; padding-top:5px; display:block}
    </style>
</head>
<body>
<!--顶部导航开始-->
<div class="topnav">
<a href="/System.php?s=/System/ManagerPage/BaseInfo.html" class="home">首页</a>><a href="/System.php?s=/System/ManagerPage/UserAg">商务引擎</a>><a href="javascript:void(0)">用户协议</a>
</div>
<!--顶部导航结束-->
<div class="cont_info">
<div class="tab_txt">
<div class="tab_tit">用户协议</div>
<h2 class="usertit">用户协议</h2>
<div class="usertxt">
<b>一、使用说明</b>
<p>请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不使用该系统。当您进入该系统，无论登录与否，都将被视作已无条件接受本声明所涉全部内容。
</p>
<p>
若您对本声明的任何条款有异议，请停止使用该系统的全部服务。
</p>
<b>二、规则说明</b>
<p>使用该系统不得有下列情形：</p> 
<p>（一）违反宪法或法律法规规定的。</p> 
<p>（二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的。</p> 
<p>（三）损害国家荣誉和利益的，损害公共利益的。</p> 
<p>（四）煽动民族仇恨、民族歧视，破坏民族团结的。</p> 
<p>（五）破坏国家宗教政策，宣扬邪教和封建迷信的。</p> 
<p>（六）散布谣言，扰乱社会秩序，破坏社会稳定的。</p> 
<p>（七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。</p> 
<p>（八）侮辱或者诽谤他人，侵害他人合法权益的。</p> 
<p>（九）含有法律、行政法规禁止的其他内容的。</p> 
</div>
</div>
<div id="footer" class="info_foot">
   <script>document.write(cmsname)</script>
</div>
</div>
</body>
</html>
